<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome to Modest-Devs page. Do stick around. We have food and drinks <%= user.name %></p>
<a href="/users/logout" class="btn btn-info">Logout</a>
